<title>{{ site.name }} | {% if page.parent %}{{ page.parent | capitalize }} | {% endif %}{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-title" content="Compass"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#1b79ea"/>
<meta name='format-detection' content="telephone=no"/>

<meta name="theme-color" content="#ea1017"/>

<link rel="manifest" href="/public/manifest.json">
<link rel="apple-touch-icon" sizes="152x152" href="/public/images/favicon/apple-icon-152x152.png"/>
<link rel="icon" type="image/png" sizes="192x192"  href="/public/images/favicon/android-icon-144x144.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png"/>
<link rel="icon" type="image/x-icon" href="/public/images/favicon/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

<link rel="stylesheet" href="/assets/stylesheets/application.css" type="text/css"/>
